* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
  text-shadow: 0 1px 0 #000;
}

header {
  background-color: #424242;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  padding: 50px 15px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.7rem;
  font-weight: bold;
}

#logo {
  width: 100px;
}

#title {
  display: flex;
  justify-content: space-around;
  align-items: center;  
  gap: 30px;
  font-size: 3rem;
}

select {
  border: none;
  background-color: #666666;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  padding: 5px;
  font-size: 1.5rem;
  font-family: 'Courier New', Courier, monospace;
  color: #fff;
}

option[value="facile"] {
  color: rgb(0, 255, 0);
}

option[value="medio"] {
  color: rgb(255, 255, 0);
}

option[value="difficile"] {
  color: rgb(255, 0, 0);
}

/* Griglia */
#griglia {
  width: fit-content;
  margin: 100px auto;
  border: 2px solid #fff;
}

.riga {
  display: flex;
}

.cella {
  margin: 0px 0;
  height: 100px;
  width: 100px;
  border: 2px solid #fff;
  background-color: #333;
  transition: background-color 0.3s;
  font-size: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cella:hover {
  background-color: #3d3d3d;
  cursor: pointer;
}